<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h3>Регистрация</h3>
  <div class="mb-3">
    <label for="username" class="form-label">Потребителско име</label>
    <input formControlName="username" type="text" class="form-control" id="username" required/>
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">Име</label>
    <input  formControlName="firstName"  type="text" class="form-control" id="firstName" required />
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Фамилия</label>
    <input  formControlName="lastName"  type="text" class="form-control" id="lastName" required />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input  formControlName="email"  type="email" class="form-control" id="email" required />
  </div>
  <div class="mb-4">
    <label for="password" class="form-label">Парола</label>
    <input  formControlName="password" type="password" class="form-control" id="password" required minlength="6"/>
  </div>
  <button type="submit" class="btn-submit">Регистрация</button>
  <p class="form-toggle"><a href="#" (click)="onToggleForm()">Вход</a></p>
</form>
