<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h3>Вход</h3>
  <div class="mb-3">
    <label for="username" class="form-label">Потребителско име</label>
    <input formControlName="username" type="text" class="form-control" id="username" required/>
  </div>
  <div class="mb-4">
    <label for="password" class="form-label">Парола</label>
    <input  formControlName="password" type="password" class="form-control" id="password" required minlength="6"/>
  </div>
  <button type="submit" class="btn-submit">Вход</button>
  <p class="form-toggle"><a actioLink="register" (click)="onToggleForm()">Регистрация</a></p>
</form>

