@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --mint-bg: #bcddc5;
  --white: #FFFFFF;
  --dark-text: #1F2B34;
  --border-gray: #C4CDD5;
  --button-dark: #1F2B34;
  --button-hover: #172026;
  --mint-form-bg: #e6feed;
  --light-form-bg: #fafffb;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--mint-bg);
  color: var(--dark-text);
  align-items: center;
  justify-content: center;
}

/* Form controls */
.form-control {
  border: 2px solid var(--border-gray);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  color: var(--dark-text);
}

label {
  font-weight: 600;
  color: #064e3b;
}

/* Submit buttons */

button {
  background-color: var(--button-dark);
  color: var(--white);
  border: none;
  padding: 0.75rem 2rem;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  margin-top: 1.25rem;
}

button:hover {
  background-color: var(--button-hover);
}

select {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #00796b;
  font-size: 1rem;
  color: #064e3b;
  background-color: #e0f2f1;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #00bfa5;
  box-shadow: 0 0 8px #00bfa5cc;
  background-color: #ffffff;
}

/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--white) inset !important;
  -webkit-text-fill-color: var(--dark-text) !important;
  border: 2px solid var(--border-gray) !important;
  border-radius: 0.5rem;
  transition: background-color 5000s ease-in-out 0s;
}