<section class="form-card " aria-label="Create new Plant form">
  <form id="create-plant-form" (ngSubmit)="createPlant()" class="row g-3 align-items-end" novalidate>
    <h3>Добавяне на нова култура</h3>
    <div class="col-md-6">
      <label for="planting-date" class="me-2 mb-0">Дата на засаждане:</label>
      <input type="date" id="planting-date" class="form-control"
             [(ngModel)]="selectedDate" name="planting-date" required>
    </div>
    <div class="col-md-6">
      <label for="plant-type" class="me-2 mb-0">Тип култура:</label>
      <select id="plant-type" [(ngModel)]="selectedPlantType" name="plant-type" required aria-required="true">
        <option *ngFor="let type of plantTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="controllerId" class="me-2 mb-0">Контролер:</label>
      <input type="number" [(ngModel)]="controllerId" name="controllerId" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="distanceX" class="me-2 mb-0">Разстояние между растенията</label>
      <input type="number" [(ngModel)]="distanceX" name="distanceX" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="distanceY" class="me-2 mb-0">Разстояние между лехите</label>
      <input type="number" [(ngModel)]="distanceY" name="distanceY" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="emitter-flow" class="me-2 mb-0">Литра на час за растение</label>
      <input type="number" [(ngModel)]="emitterFlow" name="emitter-flow" class="form-control">
    </div>
    <div>
      <button type="submit">Добави</button>
    </div>
  </form>
</section>
<section class="cards-container" aria-label="Plant irrigation status">
  <article *ngFor="let plant of plants" class="card">
    <div class="plant-icon" aria-hidden="true">{{ plant.icon }}</div>
    <h3 class="plant-name">{{ plant.plantType.name }}</h3>
    <p *ngIf="hasReport(plant)" class="growth-stage">{{ plant.report.growthPhaseName }}</p>
    <p class="planting-date">Засаждане: {{ plant.plantingDate | date: 'dd.MM.yyyy' }} г.</p>
    <p *ngIf="hasReport(plant)" class="growth-stage-details">{{ plant.report.growthPhaseDetails }}</p>
    <div class="plant-metrics">
      <p *ngIf="hasReport(plant)" class="temperature">Температура: <b>{{ getTemperature(plant) | number:'1.1-1' }}
        °C </b></p>
      <p *ngIf="hasReport(plant)" class="humidity">Влажност: <b>{{ getHumidity(plant) }}%</b></p>
      <p *ngIf="hasReport(plant)" class="temperature">Осветеност: <b>{{ getLight(plant) | number:'1.1-1' }} lx</b></p>
      <p *ngIf="hasReport(plant)" class="soil-moisture">Влажност на почвата: <b>{{ getSoilMoisture(plant) }}%</b></p>
      <p *ngIf="hasReport(plant)" class="soil-moisture">Минимална влажност на почвата:
        <b>{{ getMinSoilMoisture(plant) }}%</b></p>
      <p *ngIf="hasReport(plant)" class="soil-moisture">Максимална влажност на почвата:
        <b>{{ getMaxSoilMoisture(plant) }}%</b></p>
    </div>
    <div *ngIf="hasWarnings(plant)" class="warning">
      <p *ngFor="let warning of plant.report.warnings">
        <span class="warning-icon" aria-hidden="true">⚠️</span>
        <span>{{ warning }}</span>
      </p>
    </div>
    <app-ring *ngIf="hasReport(plant)" [min]="getMinSoilMoisture(plant)" [max]="getMaxSoilMoisture(plant)"
              [current]="getSoilMoisture(plant)"></app-ring>
  </article>
</section>
