<section class="form-card " aria-label="Create new crop form">
  <form id="create-crop-form" (ngSubmit)="createCrop()" novalidate>
    <h3>Добавяне на нова култура</h3>
    <div class="d-flex align-items-center mb-4">
      <label for="planting-date" class="me-2 mb-0">Дата на засаждане:</label>
      <input type="date" id="planting-date" class="form-control"
             [(ngModel)]="selectedDate" name="planting-date" required>
    </div>
    <div class="d-flex align-items-end gap-2 mb-4">
      <label for="crop-type" class="me-2 mb-0">Тип култура:</label>
      <select id="crop-type" [(ngModel)]="selectedCropType" name="crop-type" required aria-required="true">
        <option *ngFor="let type of cropTypes" [value]="type.id">{{ type.name }}</option>
      </select>
      <button type="submit">Добави</button>
    </div>
  </form>
</section>
<section class="cards-container" aria-label="Crop irrigation status">
  <article *ngFor="let crop of crops" class="card">
    <div class="crop-icon" aria-hidden="true">{{ crop.icon }}</div>
    <h3 class="crop-name">{{ crop.cropType.name }}</h3>
    <p class="growth-stage">В цъфтеж</p>
    <p class="planting-date">Засаждане: {{ crop.plantingDate | date: 'dd.MM.yyyy' }}</p>
    <p class="humidity">Влажност: {{ crop.report?.humidity | number:'1.1-1' }}</p>
    <p *ngIf="needsIrrigation(crop)" class="needs-irrigation">Нужно е поливане</p>
    <div *ngIf="hasWarnings(crop)" class="warning">
      <p *ngFor="let warning of crop.report.warnings">
        <span class="warning-icon" aria-hidden="true">⚠️</span>
        <span>{{ warning }}</span>
      </p>
    </div>
    <app-ring *ngIf="hasReport(crop)" [min]="getMinHumidity(crop)" [max]="getMaxHumidity(crop)" [current]="getHumidity(crop)"></app-ring>
  </article>
</section>
