/* Navigation */

nav {
  background: #064e3b;
  margin-bottom: 50px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1.5rem 0;
  color: #064e3b;
  font-weight: 600;
  border-top: 1px solid #00796b;
  background: #064e3b;
  margin-top: 50px;
  user-select: none;
}
